# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data","Science","Mentorship","Program","started","By","CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
x=int(input("enter temp in celsius-"))
fahrenheit=(x*1.8)+32
print(fahrenheit)

enter temp in celsius-34
93.2

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
input1=int(input("enter the first number-"))
input2=int(input("enter the second number-"))
input3=input1
input1=input2
input2=input3
print(input1,input2)

enter the first number-4
enter the second number-5
5 4

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
principle=int(input("enter principle amount-"))
rate_of_interest=int(input("enter the rate-"))
timePeriod=int(input("enter time period-"))
simple_interest=(principle*rate_of_interest*timePeriod)/100
print("simple interest is:",simple_interest)

enter principle amount-4
enter the rate-4
enter time period-5
simple interest is: 0.8

5
### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
#take input for head
num_head=int(input("enter the number of head-"))
# #take input for legs
num_legs=int(input("enter the number of legs-"))
chicken=0
dog=0
for dog in range(0,num_head):
  if (4*dog+2*(num_head-dog)) == num_legs:
    print("dog->",dog)
    print("chicken->",num_head-dog)
else:
    print("wrong input")

enter the number of head-4
enter the number of legs-12
dog-> 2
chicken-> 2
wrong input

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.12

In [ ]:
# Write your code
num_of_term=int(input("enter number of term-"))
sum_of_sqr_n=(num_of_term*(num_of_term+1)*(2*num_of_term+1))/6
print(sum_of_sqr_n)

enter number of term2
5.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
first_term=int(input("enter the first term-"))
second_term=int(input("enter the second term-"))
number_term=int(input("enter the number of term-"))
comman_difference = second_term - first_term
nth_term = first_term + (number_term - 1)*comman_difference
print("Nth term is - ",nth_term)

enter the first term-3
enter the second term4
enter the number of term-6
Nth term is -  8

4### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
nr1 = int(input("enter numerator for first fraction "))
nr = int(input("enter numerator for second fraction "))
dr1 = int(input("enter denominator for first fraction "))
dr = int(input("enter denominator for first fraction "))
if dr1!=0 and dr!=0:
  sum=(nr1*dr)+(nr*dr1)/dr1*dr
  print(sum)

enter numerator for first fraction4
enter numerator for second fraction5
enter denominator for first fraction3
enter denominator for first fraction2
18.0

6### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
H=int(input("enter the height of the tank "))
L=int(input("enter the length of the tank "))
B=int(input("enter the bridth of the cylinder "))
h=int(input("enter the height of the glass "))
r=int(input("enter the radius of the glass "))
volume_tank=H*L*B
volume_glass=3.14*r*r*h
num_glass=volume_tank/volume_glass
print(num_glass)

enter the height of the tank 20
enter the length of the tank 20
enter the bridth of the cylinder 20
enter the height of the glass 3
enter the radius of the glass 1
849.2569002123142